
  <div class="container speaker-list">
<% if (data) {
  data.forEach(function(person, i){ %>
    <div class="row mt-5">
      <% if(i % 2 === 0) { %>
        <div class="col-md-3">
          <img class="card-img-top hex" src="<%- person.image %>" alt="<%= person.name %>">
        </div>
      <% } %>
      <div class="col-md-9 speaker-bio">
          <h2 class="mt-5">
            <% if(person.sessionType === 'workshop') { %><span class="label">Workshop</span><% } %>
            <% if(person.link) { %>
              <a href="<%= person.link %>"><%= person.name %></a>
            <% } else { %>
              <%= person.name %>
            <% } %>
          </h2>
          <div class="meta mt-3">
            <% if(person.twitter) { %>
              <a href="https://mobile.twitter.com/<%= person.twitter %>">@<%= person.twitter %></a></p>
            <% } %>
            <% if(person.jobTitle) { %>
            <p class="role">
              <span class="title"><%= person.jobTitle %></span>
              <% if(person.employer) { %>
                <span class="at">at</span>
                <span class="employer"><%= person.employer %></span>
              <% } %>
            </p>
            <% } %>
          </div>

          <div class="talk">
            <h3 class="h4"><%= person.sessionTitle %></h3>
            <%- person.synopsis %>
          </div>
          <hr>
          <p class="bio"><%= person.description %></p>
      </div>
      <% if(i % 2 !== 0) { %>
        <div class="col-md-3">
          <img class="card-img-top hex" src="<%- person.image %>" alt="<%= person.name %>">
        </div>
      <% } %>
    </div>
  <% }) %>
<% } %>
</div>
